:root {
    box-sizing: border-box;
    font-size: 10px;
    --orange: #FF9A3D;
    --yellow: #FFC53D;
    --grey: #FAFAFF;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.nav{
    height: 5vh;
}

.main{
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    padding: 10px;
}

.form{
    background-color: orange;
    height: 50vh;
    width: 50vw;
    align-self: center;
}

.board{
    height: 90vh;
    width: 90vw;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(6, 14%);
    grid-template-rows: repeat(6, 14%);
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
}

.element{
    background-image: url("balls.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.element--showed{
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    font-weight: bold;
    font-size: 4em;
    background-color: chocolate;
    background-image: none;
}

.element--guessed{
    background-color: grey;
    color: grey;
}